@charset "UTF-8";

// 设计稿宽度
$design_width: 750;

// 三倍图宽度
$high_design_width: 1242;

// 750设计稿上的元素尺寸计算成rpx
@function px($px) {
  @return $px * 750 / $design_width + rpx;
}

// 三倍设计稿上的元素尺寸计算rpx,切图使用三倍图的话可以使用它直接用切图尺寸计算出rpx尺寸
@function pxImage($px) {
  @return $px * 750 / $high_design_width + rpx;
}

$select_down_icon: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA2CAYAAACBWxqaAAAA5klEQVRoge3VMQrCMBjF8SgqTroIHqAew4t5EEdXF0+iNxDMBXSqDoId1DcIRRKT4vC+wPuNTYfv/6XQXrX1T1ewPnuAfymATQFsCmBTAJsC2BTApgA2BbApgK34gAF7gGoydLNxeoz9+R58Tg/w18atl3O3mI6i76wOl3dA+MzEJ7Q51tGzU/1wO3+LnpsIwIAYNORXHJgIgNCgqe2DmYDQLaS2D2YCoD1wzvbBVED7FnK2D6YCAIPnbh/o/4FvuYN/mLsB6BJhMqALBbApgE0BbApgUwCbAtgUwKYANgWwKYCt+IAXGvtIeK7VgBgAAAAASUVORK5CYII='