@charset "UTF-8";
@import "./vars";
@import "./mixins";


$tab_bar_height: 164;  //  tabbar 高度
$tab_bar_img_h: 140;  //  tabbar 图片高度

view, text {
  font-family: inherit;
  color: inherit;

}

.cu-ipx {
  padding-bottom: px(68);
  //border-bottom: px(68) solid #FFFFFF;
}

.my_mask{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:98;
  background-color:rgba(0,0,0,0.4);
}