@charset "UTF-8";
@import "./vars";
@import "./mixins";


$tab_bar_height: 164;  //  tabbar 高度
$tab_bar_img_h: 140;  //  tabbar 图片高度

view, text {
  font-family: inherit;
  color: inherit;

}

.cu-ipx {
  padding-bottom: px(68);
  //border-bottom: px(68) solid #FFFFFF;
}
