@charset "UTF-8";
@import "../../scss/base";
@import "../../scss/mixins";

.secret {
  font-size: px(28);
  padding: px(10) px(30);
  box-sizing: border-box;

  &__item {
    margin-bottom: px(20);
    border-bottom: px(1) solid #DDDDDD;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__avator {
    @include size(px(100));
  }

  &__user {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__user-top {
    display: flex;
    align-items: center;
  }

  &__user-text {
    margin-top: px(60);
  }

  &__content {
    margin-top: px(30);
    padding: px(30);
    position: relative;

    background: #ECECEC;
    border-radius: px(20);
  }

  &__content-icon {
    position: absolute;
    top: px(-44);
    left: px(10);

    border-width: px(30);
    border-style: solid;
    border-color: transparent transparent #ECECEC transparent;

  }
  &__content-icon-hr {
    position: absolute;
    top: px(-44);
    right: px(20);

    border-width: px(30);
    border-style: solid;
    border-color: transparent transparent #23A6DD transparent;

    &--hr {
      right: px(20);
      border-color: transparent transparent #23A6DD transparent;
    }
  }

  &__reply {
    margin: px(30) 0;
    padding: px(30);
    position: relative;

    color: #FFFFFF;
    background: #23A6DD;
    border-radius: px(20);
    font-family: Microsoft Yahei;
    border: px(2) solid rgba(255, 255, 255, 0);

  }

  &__reply-hr {
    display:flex;
    justify-content: space-between;
  }

  &__reply-content {
    padding-top: px(10);
  }

  &__images {
    padding: px(10) 0;
  }
  &__image {
    display: inline-block;
    margin-top: px(10);
    margin-right: px(10);

    @include size(31.6%,px(200));
    overflow: hidden;
    border: px(1) solid #DDDDDD;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  &__img {
    @include size(100%);
  }

}

//.user view:last-child{
//  margin-right: 30rpx;
//}
//.power{
//  width:32rpx;
//  height: 44rpx;
//  margin-right: 5rpx;
//}
