@charset "UTF-8";
@import "../../scss/base";
@import "../../scss/mixins";

.secret {
  font-size: px(28);
  padding: px(10) px(30);
  box-sizing: border-box;

  &__item {
    margin-bottom: px(20);
    border-bottom: px(1) solid #DDDDDD;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__avator {
    @include size(px(100));
  }

  &__user {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__user-top {
    display: flex;
    align-items: center;
  }

  &__user-text {
    margin-top: px(60);
  }

  &__content {
    margin-top: px(30);
    padding: 0 px(30);
    position: relative;
  }

  &__reply {
    margin-bottom: px(20);
    padding: px(40) px(24) px(16);
    line-height: px(60);

    //width: px(624);
    color: rgba(255, 255, 255, 1);
    font-size: px(28);
    text-align: left;

    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #3D4B59;
    background: url($talk_back) no-repeat center;
    background-size: 100% 100%;

  }

  &__reply-hr {
    display: flex;
    justify-content: space-between;
    font-size: px(30);
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #00A0F0;
    .text {
      font-size: px(26);
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #858290;
    }
  }

  &__reply-content {
    padding-top: px(10);
  }

  &__images {
    padding: px(10) 0;
  }
  &__image {
    display: inline-block;
    margin-top: px(10);
    margin-right: px(10);

    @include size(31.6%,px(200));
    overflow: hidden;
    border: px(1) solid #DDDDDD;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  &__img {
    @include size(100%);
  }

}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #858585;
  font-size: px(32);

  &__img {
    margin: px(300) 0 px(40) 0;
    @include size(px(280), px(210));
  }

  &__btn {
    margin-top: px(40);
    line-height: px(60);

    @include size(px(180), px(60));
    color: #6c6c6c;
    text-align: center;
    border: px(2) solid #dddddd;
    border-radius: px(8);
  }
}
//.user view:last-child{
//  margin-right: 30rpx;
//}
//.power{
//  width:32rpx;
//  height: 44rpx;
//  margin-right: 5rpx;
//}
