@charset "UTF-8";
@import "../../scss/vars";
@import "../../scss/mixins";
@import "../../scss/base";
.official {
  @include size(px(700), px(80));
}
.start {
  position: absolute;

  @include size(100%);

  &__content {
    position: relative;
    @include size(100%);
  }

  &__button {
    position: absolute;
    bottom: px(106);
    left: px(0);

    @include size(100%, auto);

    &--official {
      bottom: px(16);
    }
  }

  &__btn {
    margin: 0 auto px(40) auto;

    @include size(px(480), px(90));
    background: #3FA8FF;
    border-radius: 50px;
    font-family: PingFangSC-Medium;
    font-size: px(36);
    color: #FFFFFF;
  }
}