@charset "UTF-8";

@import "./vars";

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin clearfix() {
  &:before,
  &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
}

@mixin abs-pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin abs-center {
  margin: auto;

  @include abs-pos(0, 0, 0, 0);
}

@mixin bold() {
  font-weight: bold;
  font-family: PingFangSC-Semibold;
}
@mixin icon($url) {
  background: url($url) no-repeat;
  background-size: 100% 100%;
}