@charset "UTF-8";
@import "../../scss/vars";
@import "../../scss/mixins";
.cu-tab-line {
  position: fixed;
  top: 0;
  left: 0;

  background: #DDDDDD;
  z-index: 101;
  @include size(100%,px(1));

}